/* _content/Biblioteca.UI/Pages/Docente/Docentes.razor.rz.scp.css */
#table[b-nl689zmao4],th[b-nl689zmao4]{
    text-shadow: black;
    text-shadow: lch(from color l c h);
}
/* _content/Biblioteca.UI/Pages/Docente/DocentesIngresar.razor.rz.scp.css */
.dialogo-contenedor[b-ik9yaebckj] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.parrafo[b-ik9yaebckj]{
    font-size: x-small;
    align-self: baseline;
}


    .dialogo-contenido[b-ik9yaebckj]{
    width: 50%;
    padding: 20px;
    background-color: white;
    }
/* _content/Biblioteca.UI/Pages/Estudiante/Estudiantes.razor.rz.scp.css */
#table[b-2fphv916pq],th[b-2fphv916pq]{
    text-shadow: black;
    text-shadow: lch(from color l c h);
}
/* _content/Biblioteca.UI/Pages/Estudiante/EstudiantesIngresar.razor.rz.scp.css */
.dialogo-contenedor[b-fbfh936meh] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.parrafo[b-fbfh936meh]{
    font-size: x-small;
    vertical-align: bottom;
}

br[b-fbfh936meh]{margin-bottom: 10cm;}

.dialogo-contenido[b-fbfh936meh]{
    width: 50%;
    padding: 20px;
    background-color: white;
    
}
/* _content/Biblioteca.UI/Pages/Libro/Libros.razor.rz.scp.css */
#table[b-sfxifs3tzw],th[b-sfxifs3tzw]{
    text-shadow: black;
    text-shadow: lch(from color l c h);
}
/* _content/Biblioteca.UI/Pages/Libro/LibrosIngresar.razor.rz.scp.css */
.dialogo-contenedor[b-l6zp7kmu65] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.parrafo[b-l6zp7kmu65]{
    font-size: x-small;
    align-self: baseline;
}


    .dialogo-contenido[b-l6zp7kmu65]{
    width: 50%;
    padding: 20px;
    background-color: white;
    }
/* _content/Biblioteca.UI/Pages/Prestamo/Prestamos.razor.rz.scp.css */
#table[b-08rko4jbqp],th[b-08rko4jbqp]{
    text-shadow: black;
    text-shadow: lch(from color l c h);
}
/* _content/Biblioteca.UI/Pages/Prestamo/PrestamosIngresar.razor.rz.scp.css */
.dialogo-contenedor[b-eovzzj7egs] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.parrafo[b-eovzzj7egs]{
    font-size: x-small;
    align-self: baseline;
}


    .dialogo-contenido[b-eovzzj7egs]{
    width: 50%;
    padding: 20px;
    background-color: white;
    }
/* _content/Biblioteca.UI/Shared/CuadroDialogo.razor.rz.scp.css */
.dialogo-contenedor[b-zk5s6xl7s1] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .dialogo-contenido[b-zk5s6xl7s1]{
    width: 50%;
    padding: 20px;
    background-color: white;
    }
/* _content/Biblioteca.UI/Shared/MainLayout.razor.rz.scp.css */
.page[b-z170pvz7ey] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-z170pvz7ey] {
    flex: 1;
}

.sidebar[b-z170pvz7ey] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-z170pvz7ey] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-z170pvz7ey]  a, .top-row .btn-link[b-z170pvz7ey] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-z170pvz7ey] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-z170pvz7ey] {
        display: none;
    }

    .top-row.auth[b-z170pvz7ey] {
        justify-content: space-between;
    }

    .top-row a[b-z170pvz7ey], .top-row .btn-link[b-z170pvz7ey] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-z170pvz7ey] {
        flex-direction: row;
    }

    .sidebar[b-z170pvz7ey] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-z170pvz7ey] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-z170pvz7ey], article[b-z170pvz7ey] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/Biblioteca.UI/Shared/MensajeError.razor.rz.scp.css */

.error[b-ewnaf8kvz1]{
    font-size: small;
    color: crimson;
}
/* _content/Biblioteca.UI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-b80zd4icv5] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-b80zd4icv5] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-b80zd4icv5] {
    font-size: 1.1rem;
}

.oi[b-b80zd4icv5] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-b80zd4icv5] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-b80zd4icv5] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-b80zd4icv5] {
        padding-bottom: 1rem;
    }

    .nav-item[b-b80zd4icv5]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-b80zd4icv5]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-b80zd4icv5]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-b80zd4icv5] {
        display: none;
    }

    .collapse[b-b80zd4icv5] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-b80zd4icv5] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
