@if(visible){
     <p class="error">@mensaje</p>
}


@code{

    private bool visible;
    //public string mensaje {get;set;} = "";
    string mensaje = ""; 
    public void Mostrar(String mensaje)
    {
        visible=true;
        this.mensaje = mensaje;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false;  
    }
}