<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Aplicación Biblioteca</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estudiantes">
                <span class="oi oi-people" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="docentes">
                <span class="oi oi-people" aria-hidden="true"></span> Docentes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="libros">
                <span class="oi oi-book" aria-hidden="true"></span> Libros
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prestamos">
                <span class="oi oi-script" aria-hidden="true"></span> Prestamos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
