
@if(visible){
    <div class="dialogo-contenedor"> 
        <div class="dialogo-contenido"> 
            <h3>@accion un Estudiante</h3>

                <h5>nombre:</h5>
                <input placeholder="nombre" @bind=estudiante.nombre> 
            
            <br>
                <h5>apellido:</h5>
                <input placeholder="apellido" @bind=estudiante.apellido>
            
            <br>
                <h5>numero de carnet:</h5>
                <input placeholder="nro. carnet" @bind=estudiante.numeroCarnet>
            
            <br>
                <h5>facultad:</h5>
                <input placeholder="facultad" @bind=estudiante.facultad>
            <br>
                <h5>carrera:</h5>
                <input placeholder="carrera" @bind=estudiante.carrera>
            <br>
                <h5>numero alumno:</h5>
                <input placeholder="nro alumno" @bind=estudiante.numeroAlumno>
            <br>
                <h5>telefono:</h5>
                <input placeholder="000-000-0000" @bind=estudiante.telefono>
            <br>
                <h5>correo electronico:</h5>
                <input placeholder="alumno@mail.com" @bind=estudiante.correoElectronico>

            <br>
            <button class="btn btn-primary" @onclick="CerrarYGuardar">Finalizar Edicion</button>
            <button class="btn btn-secondary" @onclick="Cerrar">Cancelar</button>
        </div>
    </div>
}


@code{

    
    public bool visible{get; set;}
    
    public bool esCrear{get;set;} //esta variable va a definir si creo un estudiante o ingreso uno.

    [Parameter]
    public Estudiante estudiante{get;set;} = new Estudiante(); // inicio estudiante como un estudiante vacio. para que no salga la advertencia de null Preguntar si esta bn

    [Parameter]
    public EventCallback OnRellenado{get;set;}

    private String accion = "";


        protected override void OnParametersSet()
        {
            base.OnParametersSet();
        }

        public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }
    void Cerrar()
    {
        visible=false;  
    }
    void CerrarYGuardar(){
        visible = false;
        OnRellenado.InvokeAsync();
    }

}