.dialogo-contenedor[b-l6zp7kmu65] {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.parrafo[b-l6zp7kmu65]{
    font-size: x-small;
    align-self: baseline;
}


    .dialogo-contenido[b-l6zp7kmu65]{
    width: 50%;
    padding: 20px;
    background-color: white;
    }